[flake8]
application_import_names = storageprovider, tests
extend-exclude =
    .pytest_cache
    static
filename =
    ./tests/**.py
    ./storageprovider/**.py
import-order-style = pycharm
max-line-length = 90
ignore = E402, E405, W503, F403, F405